# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Build and distribution
build/
dist/
Output/
*.egg-info/

# Logs
logs/
*.log

# IDE configs
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
